In [1]:
import pandas as pd

In [2]:
url='https://www.zippia.com/musician-jobs/demographics/'
df_statistic=pd.read_html(url)[0]
df_statistic_2=pd.read_html(url)[1]
df_statistic_3=pd.read_html(url)[2]
df_statistic_4=pd.read_html(url)[3]

In [3]:
df_statistic

   Gender Percentages
0    Male       80.4%
1  Female       19.6%

In [4]:
df_statistic_2

    Year    Male  Female
0   2010  76.22%  23.78%
1   2011  75.26%  24.74%
2   2012  75.79%  24.21%
3   2013  77.37%  22.63%
4   2014  77.68%  22.32%
5   2015  77.49%  22.51%
6   2016  78.96%  21.04%
7   2017  76.87%  23.13%
8   2018  79.89%  20.11%
9   2019  81.78%  18.22%
10  2020  76.03%  23.97%
11  2021  80.41%  19.59%

In [5]:
df_statistic_3

                          Job Title Male Female
0                           Harpist   8%    92%
1                           Actress   8%    92%
2                     Modern Dancer   8%    92%
3                          Musician  80%    20%
4  Assistant Varsity Football Coach  98%     2%
5                   Baseball Player  98%     2%
6                 19D Cavalry Scout  99%     1%

In [6]:
df_statistic_4

                       Musician Race Percentages
0                              White       65.4%
1                 Hispanic or Latino       12.9%
2          Black or African American       10.9%
3                              Asian        5.4%
4                            Unknown        5.1%
5  American Indian and Alaska Native        0.3%